*{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

body{
    margin: 0px;
}
    
header{
    padding: 5px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    align-content: center;
    justify-content: center;
    color: white;

}

nav{   
    background-color: rgb(207, 207, 207);
    margin: 10px 150px 10px 150px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
}

.menu{
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    list-style: none;
}

li{
    margin: 0px 5px 0px 5px;
    font-size: 20px;
    
}

li > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
}

li > a:hover{
    text-decoration: none;
    color: rgb(199, 199, 199);
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;

}

section{
    padding: 10px;
    border: 1px solid grey;
    margin: 10px;
    border-radius: 5px;
    background-color: aliceblue;
    text-align: justify;
}

h2{
    text-align: center;
}

aside{
    text-align: center;
    background-color: rgb(255, 255, 255);
    
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 20px 0px 0px 0px ;
}

