body{
    margin: 0px;
    }

.container{
    display: grid;
}

h1{
    color: white;
    text-align: center;
}


header{
    grid-column-start: 1 ;
    grid-column-end: 12;
    background-color: grey;
}

.menu{
    grid-column-start: 6;
    grid-column-end: 12;
    gap: 20px;
    justify-content: center;
   
}

.imgleo{
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.principal{
    grid-column-start: 4;
    grid-column-end: 12;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 12;
    background-color: grey;
    color: white;
    text-align: center;
}

ul{
    list-style: none;
    color: darkslateblue;
}

li{
    float: inline-start;
    padding: 10px;
    border: 1px solid green;
    border-radius: 3px;
    margin: 3px;
}

li:hover{
    padding: 10px;
    background-color: darkgreen;
    border: 0px;
    color: white;
    border-radius: 3px;
    margin: 3px;
}

footer{
    background-color: grey;
    color: white;
    text-align: center;
}
