@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;    
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 100px auto auto 100px;
    grid-template-columns: repeat(4, auto);
    border: 1px solid black;
    gap: 5px;
}

.topo{
    background-color: red;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
   
}

.menu{
    background-color: green;
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    height: ;
    
}

.principal{
    background-color: rgb(17, 0, 255);
    grid-row: 3 / 5;
    grid-column: 1 / 4;
}

.secundario{
    background-color: rgb(186, 189, 0);
    grid-row: 3 / 5;
    grid-column: 4 / 5;
}

.rodape{
    background-color: rgb(255, 0, 191);
    grid-row: 5 / 6;
    grid-column: 1 / -1 ;
}

div {
    text-align: center;
}